body, p{
  margin: 0;
  font-family: Raleway, sans-serif;
	text-align: center;
  color: white;
  background-color: #2b2929;
  
}

p{
background-color: #333;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.navbar a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.navbar a:hover {
    color: #FF4742;
    text-decoration: underline;
    font-size: 2rem;
}

main{
    height: 99vh ;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2929;
    padding-bottom: 255px;
    flex-direction: column;
}

.Card{
    height: 500px;
    width: 400px;
    background-color: #333;
    border-radius: 1%;
    border: #ffffff solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    
}

p{
  font-size:33px ;
}


.Ask-Con{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.Option-Con{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Line{
margin: 0;
width: 100%;
}




.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }


  table, th, td {
    border: 1px solid;
  }

  .Output-Con{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    gap: 8px;
    border: #FFFFFF solid;
    border-radius: 5px;
    width: 100%;
    transition:  2s ease-in-out;
    background: rgba(255, 255, 255, 0.2); /* Weiß mit 20% Deckkraft */
    backdrop-filter: blur(5px); /* Unschärfe-Effekt für besseren Kontrast */

  }

  .BackGround-Con{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 800px;
  }
  






.Output-Con p{
  background-color:  transparent ;

}








/* Responsive Anpassungen */
@media (max-width: 1024px) {  /* Laptop */
  .Card {
      max-width: 800px;
  }

  .Ask-Con p {
      font-size: 1.5rem;
  }

  
}

@media (max-width: 768px) {  /* Tablet */
  .Card {
      width: 80%;
  }

  table{
    width:100% ;
    height: 100%;
  }
  .Table-Con{
    width:100% ;
    height: 100%;
  }

  th, td{
    font-size: small;
  }
  

  main{
    padding-bottom: 0px;

  }


  .Ask-Con{
    width: 100%;
  }

  
  .Option-Con{
    width: 100%;
  }


  .Ask-Con p {
      font-size: 1.3rem;
  }

  .button-24 {
      font-size: 1.1rem;
  }
}

@media (max-width: 480px) {  /* Handy */
  .Card {
      width: 100%;
      height: 92%;
      margin-bottom: 0px;
  }

  body{
    height: 800px;
    overflow-y: hidden;
  }
  main{
    padding-bottom: 0px;
  }

  table{
    width:100% ;
    height: 100%;
    overflow-y: scroll;

  }
  .Table-Con{
    width:100% ;
    height: 100%;
    overflow: scroll;
  }

  th, td{
    font-size: small;
  }
  

  .Option-Con{
    height:20% ;
  }

  .Ask-Con{
    height: 70%;
  }
  
  .Ask-Con p {
      font-size: 1rem;
  }

  .button-24 {
      font-size: 0.9rem;
  }

  .navbar a{
    font-size: 1.7rem;
  }

  .BackGround-Con{
    width: 98%;
    height: 100%;
  }

  .Output-Con{
    width: 50%;
    position: absolute;
    top: 50%;
}

.Output-Con p{
  background-color:  transparent ;
}

.navbar a:hover{
  color: #FF4742;
  text-decoration: underline;
  font-size: 1.5rem;
}
  
}



  


  

  
























  @import url("https://fonts.googleapis.com/css?family=Raleway:400");


@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


.correct {
--c1: rgb(4, 248, 195);
--c2: rgba(20, 245, 0, 0.932);
}

.incorrect {
--c1: rgb(180, 99, 32);
--c2: rgba(206, 19, 19, 0.979);
}



:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}


.box-animations {
	font-size: 3vw;
	
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box-animations:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}



